/* ============================= */
/*          GLOBAL
/* ============================= */

body {
    background-color: #0f0f0f;
}

h1,
h2 {
    color: white;
}

h3 {
    color: rgb(109, 109, 109);
}

/* ============================= */
/*          WAVE
/* ============================= */

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.titulo {
    position: relative;
    z-index: 2;
    padding-top: 100px;
}


/* ============================= */
/*          CONTAINER
/* ============================= */

.container {
    background-color: #181818d2;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    z-index: 2;
}

.container ul {
    list-style: none;
    padding-left: 15px;
    color: white;
}

/* ============================= */
/*          CARD
/* ============================= */

.card {
    background-color: #000d16a6;
    border-width: 4px;
    margin-right: 19px;
}

.card p {
    color: white;
    text-align: center;
}

/* ============================= */
/*  TÍTULOS, LISTAS E LINKS
/* ============================= */

.card h4 {
    padding-left: 15px;
}

.btn {
    padding: 6px 14px;
    color: aliceblue;
}

a {
    text-decoration: none;
}

/* ============================= */
/*          BRUNO
/* ============================= */

#brunoCard {
    border-color: #00ff9550;
}

#brunoTitulo {
    color: #009154;
}

#brunoBolinha::before {
    content: "• ";
    color: #009154;
}

#brunoLink a {
    color: #009154;
}

#bruno {
    background-color: rgb(0, 31, 23);
}

#bruno:hover {
    background-color: rgb(0, 41, 16);
    color: white;
}

/* ============================= */
/*          GUILHERME
/* ============================= */

#guiCard {
    border-color: #002dc050;
}

#guiTitulo {
    color: #002dc0;
}

#guiBolinha::before {
    content: "• ";
    color: #002dc0;
}

#guiLink a {
    color: #002dc0;
}

#gui {
    background-color: rgb(7, 0, 31);
}

#gui:hover {
    background-color: rgb(0, 5, 68);
    color: white;
}

/* ============================= */
/*          TAVINHO
/* ============================= */

#tavinhoCard {
    border-color: #eeff00;
}

#tavinhoTitulo {
    color: #eeff00;
}

#tavinhobolinha::before {
    content: "• ";
    color: #eeff00;
}

#tavinhoLink a {
    color: #eeff00;
}

#tavinho {
    background-color: rgb(115, 141, 0);
}

#tavinho:hover {
    background-color: rgb(95, 120, 0);
    color: white;
}

/* ============================= */
/*             PDF
/* ============================= */

.pdf-wrapper {
    max-width: 900px;
    margin: 4rem auto;
    padding: 1rem;
    background-color: #111;
    border-radius: 12px;
    z-index: 2;
    position: relative;
}

.pdf-wrapper iframe {
    width: 100%;
    height: 85vh;
    border: none;
    border-radius: 8px;
    background-color: #000;
}

#numpodeman {
    overflow: hidden;
}