body {
    background-color: #0f0f0f
}

h1 {
    color: white
}

h2 {
    color: white;
}

h3 {
    color: rgb(109, 109, 109);
}

.container {
    background-color: #181818d2;
    padding: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
}

.container ul {
    color: white;
}

.card h5 {
    color: white;
}

.card p {
    color: white;
    text-align: center;
}

.wave {
    margin-bottom: -25rem;
    position: relative;
    z-index: -1;
}

/* Começo - Card Bruno Gabriel */

#brunoCard {
    background-color: #000d16a6;
    border-width: 4px;
    margin-right: 19px;
    border-color: #00ff9550;
}

.container ul {
    list-style: none;
    padding-left: 15px;
}

#brunoBolinha::before {
    content: "• ";
    color: #009154;
}

.container #bruno {
    background-color: rgb(0, 31, 23);
    color: aliceblue;
    padding: 6px 14px;
}

.container #bruno:hover {
    background-color: rgb(0, 41, 16);
}

#brunoTitulo {
    color: #009154;
}

#brunoLink a {
    text-decoration: none;
    color: #009154;
}

/* Fim - Card Bruno Gabriel */


/* Começo - Card Guilherme */

#guiCard {
    background-color: #000d16a6;
    border-width: 4px;
    margin-right: 19px;
    border-color: rgba(38, 0, 255, 0.315);
}

#guiHabilidades {
    color: #5653ff77;
    padding-left: 15px;
}

#guiFormacao {
    color: #5653ff77;
    padding-left: 15px;
}

.container #gui {
    background-color: rgb(7, 0, 31);
    color: aliceblue;
    bottom: 0;
}

.container #gui:hover {
    background-color: rgb(0, 5, 68);
}

#guili::before {
    content: "• ";
    color: #002dc0;
}

/* Fim - Card Guilherme */